In [13]:
import pandas as pd
import json
import numpy as np

In [14]:
climate_data_cleaned = pd.read_csv("../data/climate_data_cleaned.csv")
climate_data_cleaned

,country,year,cereal_yield,fdi_perc_gdp,en_per_gdp,en_per_cap,co2_ttl,co2_per_cap,co2_per_gdp,pop_urb_aggl_perc,prot_area_perc,gdp,gni_per_cap,under_5_mort_rate,pop_growth_perc,pop,urb_pop_growth_perc,urb_pop
0,AGO,1991,417.4,5.449515,179.271884,565.451027,4367.397,0.409949,129.971142,15.290728,12.399822,1.219375e+10,820.0,239.1,3.034866,10653515.0,6.687032,4.099473e+06
1,ARE,1991,1594.0,0.076475,245.977706,12262.388130,57010.849,29.851550,598.807980,26.377204,0.266886,3.391964e+10,19340.0,20.5,5.442852,1909812.0,5.265704,1.507988e+06
2,ARG,1991,2666.1,1.285579,173.122857,1434.960601,117021.304,3.536073,426.614517,39.119646,4.772468,1.897200e+11,3960.0,25.8,1.372593,33093579.0,1.762636,2.890393e+07
3,AUS,1991,1603.3,1.306912,208.686644,4926.727783,281530.258,16.288490,689.948873,60.356798,7.915273,3.299655e+11,18380.0,8.6,1.274577,17284000.0,1.438378,1.478473e+07
4,AUT,1991,5463.0,0.209142,128.939160,3381.073790,65888.656,8.448456,322.186648,19.746121,20.991143,1.721664e+11,21200.0,8.9,1.134999,7798899.0,1.134999,5.131676e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1695,VNM,2008,5064.2,10.611056,266.177197,694.872260,127384.246,1.496485,573.242319,12.016197,6.166789,9.027376e+10,920.0,25.2,1.064356,85122300.0,2.803530,2.369805e+07
1696,YEM,2008,939.1,5.775544,142.167696,320.226397,23384.459,1.033494,458.830121,9.356326,0.520661,2.691736e+10,970.0,81.1,3.049598,22626595.0,4.960694,6.932789e+06
1697,ZAF,2008,4055.3,3.503662,320.191041,3074.597450,435877.955,8.933203,930.310881,33.234023,6.859550,2.752787e+11,5860.0,65.6,1.104057,48793022.0,1.897450,2.963688e+07
1698,ZAR,2008,771.5,14.798970,1193.887219,356.023405,2816.256,0.045078,151.165020,17.352516,9.986567,1.166838e+10,160.0,174.4,2.763286,62474901.0,4.605834,2.121648e+07
1699,ZMB,2008,2144.0,6.410991,481.196265,614.851742,1888.505,0.152550,119.388624,11.109605,35.983018,1.464079e+10,970.0,121.8,2.653956,12379612.0,3.049996,4.384859e+06

In [15]:
# filter for countries
countries = ['CAN', 'USA', 'AUT', 'DEU','ITA', 'GBR','JPN','CHN','IND','SAU']
climate_data_cleaned = climate_data_cleaned[climate_data_cleaned['country'].isin(countries)]
climate_data_cleaned

,country,year,cereal_yield,fdi_perc_gdp,en_per_gdp,en_per_cap,co2_ttl,co2_per_cap,co2_per_gdp,pop_urb_aggl_perc,prot_area_perc,gdp,gni_per_cap,under_5_mort_rate,pop_growth_perc,pop,urb_pop_growth_perc,urb_pop
4,AUT,1991,5463.0,0.209142,128.939160,3381.073790,65888.656,8.448456,322.186648,19.746121,20.991143,1.721664e+11,21200.0,8.9,1.134999,7.798899e+06,1.134999,5.131676e+06
9,CAN,1991,2580.7,0.480500,283.945526,7388.563674,449053.486,15.939889,612.576462,39.968292,6.016160,5.982081e+11,20420.0,8.0,1.360506,2.817168e+07,1.647301,2.164149e+07
12,CHN,1991,4232.7,1.150556,627.922681,744.485728,2584538.270,2.245901,1894.263782,9.284869,13.568152,3.794687e+11,350.0,47.4,1.364434,1.150780e+09,4.242330,3.245200e+08
18,DEU,1991,5986.1,0.262539,160.757770,4306.244432,960992.355,12.010303,448.360400,7.910362,32.266864,1.808603e+12,22170.0,8.1,0.728772,8.001400e+07,0.783477,5.852224e+07
28,GBR,1991,6467.6,1.558133,159.199978,3708.493565,593808.311,10.340607,443.906515,25.915568,22.197783,1.055845e+12,17230.0,8.8,0.309248,5.742490e+07,0.376869,5.097034e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1645,IND,2008,2672.6,3.576116,195.293836,543.020424,1742697.746,1.528729,549.797739,12.591436,5.334660,1.213783e+12,1080.0,66.8,1.340382,1.139965e+09,2.292770,3.367456e+08
1649,ITA,2008,5353.0,-0.413175,104.465985,2942.621896,445118.795,7.439455,264.108000,17.106561,9.909226,2.296497e+12,35360.0,4.0,0.766550,5.983218e+07,1.001844,4.073375e+07
1651,JPN,2008,6262.6,0.503125,123.947255,3880.451018,1208162.823,9.460647,302.186835,48.983316,16.304645,4.879861e+12,38000.0,3.4,-0.052224,1.277040e+08,0.188740,8.489765e+07
1678,SAU,2008,5218.2,8.283562,286.327415,5888.245793,433556.744,16.569065,805.703044,38.766125,31.294393,4.763048e+11,16790.0,18.9,2.564308,2.616664e+07,2.370368,2.156654e+07
1692,USA,2008,6619.9,2.168953,172.971728,7481.016585,5461013.744,17.941729,414.838254,44.603015,14.814173,1.429690e+13,47660.0,7.7,0.922517,3.043750e+08,1.290390,2.486744e+08

In [16]:
# filter for relevant fields
climate_data_cleaned = climate_data_cleaned[['country', 'year', 'en_per_cap']]
climate_data_cleaned

     country  year   en_per_cap
4        AUT  1991  3381.073790
9        CAN  1991  7388.563674
12       CHN  1991   744.485728
18       DEU  1991  4306.244432
28       GBR  1991  3708.493565
...      ...   ...          ...
1645     IND  2008   543.020424
1649     ITA  2008  2942.621896
1651     JPN  2008  3880.451018
1678     SAU  2008  5888.245793
1692     USA  2008  7481.016585

[180 rows x 3 columns]

In [17]:
# round energy values to 2 decimal places
climate_data_cleaned['en_per_cap'] = climate_data_cleaned['en_per_cap'].round(decimals = 2)
# sort values by country name
climate_data_cleaned = climate_data_cleaned.sort_values(['country', 'year'])
climate_data_cleaned

/var/folders/6_/byx2789s1wq9l0xvsmz2r0jr0000gn/T/ipykernel_22033/3991251596.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  climate_data_cleaned['en_per_cap'] = climate_data_cleaned['en_per_cap'].round(decimals = 2)

     country  year  en_per_cap
4        AUT  1991     3381.07
89       AUT  1992     3256.05
181      AUT  1993     3229.32
275      AUT  1994     3221.34
369      AUT  1995     3356.75
...      ...   ...         ...
1313     USA  2004     7875.28
1408     USA  2005     7840.53
1502     USA  2006     7691.69
1597     USA  2007     7749.23
1692     USA  2008     7481.02

[180 rows x 3 columns]

In [19]:
# convert to json
result = climate_data_cleaned.to_json(orient="records")
with open('../data/energy_per_cap.json', 'w') as f:
    f.write(result)